.chat-window {
  height: 300px;
  overflow-y: scroll;
  font-size: 14px;
  width: 50%;
  margin-bottom: 10px;
}

.chat-container {
  width: 60%;
  height: 70vh;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-messages {
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 5px;
}

.chat-input button {
  margin-left: 10px;
  padding: 5px 10px;
}

.chat-input button,
.chat-input input[type="text"] {
  font-size: 14px;
}

.chat-input button[type="reset"] {
  background-color: #ccc;
  border: none;
  color: #fff;
  cursor: pointer;
}

.message {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  word-wrap: break-word;
}

.my-message {
  background-color: #c7e0f4;
  text-align: right;
}

.other-message {
  background-color: #e0e0e0;
  text-align: left;
}
