<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat App</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <div class="container">
    <div class="chat-container">
      <div id="chat-window" class="chat-messages">
        <!-- 대화 기록을 표시할 요소 -->
      </div>
    </div>
    <div class="chat-input"></div>
      <input id="username-input" type="text" placeholder="사용자 이름">
      <input id="message-input" type="text" placeholder="메세지 입력">
      <button id="send-button">전송</button>
      <button id="clear-button">초기화</button>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../public/js/chat.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const socket = io(); // socket 변수 초기화

      socket.on('chatMessage', message => {
        displayMessage(message);
      });

    });
  </script>
</body>
</html>