<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chat App</title>
        <link rel="stylesheet" href="../public/css/style.css">

    </head>
    <body>
        <ul id="messages"></ul>
        <form id="chat-form" action="">
            <input id="m" autocomplete="off"/>
            <button id="send-button">전송</button>
            <button id="clear-button">초기화</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../public/js/chat.js"></script>
    </body>
</html>